# Testing Dependencies
pytest
coverage
pytest-mock
pytest-cov
pytest-bdd

# Documentation Dependencies
sphinx
recommonmark

# aditional libraries
IPython
statsmodels
scipy
tqdm
jq

# Data Visualisation
plotly

# ML Libraries
numpy
pandas
sklearn
gensim
mlflow
nltk
clean-text
spacy
minio
apache-airflow

jupyterlab
