# Testing Dependencies
pytest
coverage
pytest-mock
pytest-cov
pytest-bdd

# Documentation Dependencies
sphinx
recommonmark

# ML Libraries
pandas
sklearn
gensim
mlflow
nltk
spacy
clean-text
jq
minio
apache-airflow

jupyterlab