absl-py==0.13.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
alembic==1.4.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
altair==4.1.0; python_version >= "3.6"
amqp==2.6.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
anyio==3.3.0; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "4.0"
apache-airflow-providers-celery==2.0.0; python_version >= "3.6" and python_version < "4.0"
apache-airflow-providers-ftp==2.0.0; python_version >= "3.6" and python_version < "4.0"
apache-airflow-providers-imap==2.0.0; python_version >= "3.6" and python_version < "4.0"
apache-airflow-providers-sqlite==2.0.0; python_version >= "3.6" and python_version < "4.0"
apache-airflow==2.1.2; python_version >= "3.6" and python_version < "4.0"
apispec==3.3.2; python_version >= "3.6" and python_version < "4.0"
appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7" and platform_system == "Darwin"
argcomplete==1.12.3; python_version >= "3.6" and python_version < "4.0"
argon2-cffi==20.1.0; python_version >= "3.6"
astroid==2.6.5; python_version >= "3.6" and python_version < "4.0"
astunparse==1.6.3
async-generator==1.10; python_full_version >= "3.6.1" and python_version >= "3.7"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==20.3.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6") and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0")
automat==20.2.0; python_full_version >= "3.5.4" and python_version >= "3.6"
babel==2.9.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.6" and python_version < "4.0"
backcall==0.2.0; python_version >= "3.7"
billiard==3.6.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
bleach==3.3.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
blinker==1.4; python_version >= "3.6" and python_version < "4.0"
blis==0.7.4; python_version >= "3.6"
boto3==1.18.5; python_version >= "3.6"
botocore==1.21.5; python_version >= "3.6"
cachetools==4.2.2; python_version >= "3.5" and python_version < "4.0" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0")
catalogue==2.0.4; python_version >= "3.6"
cattrs==1.6.0; python_version >= "3.7" and python_version < "4.0"
celery==4.4.7; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
cffi==1.14.6; python_version >= "3.6" and python_version < "4.0" and implementation_name == "pypy"
charset-normalizer==2.0.3; python_full_version >= "3.6.0" and python_version >= "3.6"
clean-text==0.4.0; python_version >= "3.5"
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.6" and python_version < "4.0"
clickclick==20.10.2; python_version >= "3.6" and python_version < "4.0"
cloudpickle==1.6.0; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version < "4.0" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and python_version < "4.0" and platform_system == "Windows"
colorlog==5.0.1; python_version >= "3.6" and python_version < "4.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0"
constantly==15.1.0; python_full_version >= "3.5.4" and python_version >= "3.6"
coverage==5.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
croniter==1.0.15; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
cryptography==3.4.7; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
cssselect==1.1.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
cycler==0.10.0; python_version >= "3.7"
cymem==2.0.5; python_version >= "3.6"
cython==0.29.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
databricks-cli==0.14.3; python_version >= "3.6"
debugpy==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
decorator==5.0.9; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
dill==0.3.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.1.0"
dnspython==2.1.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
docker==5.0.0; python_version >= "3.6"
docutils==0.16; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
elasticsearch==7.13.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0" and python_version < "4")
email-validator==1.1.3; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
emoji==1.4.1; python_version >= "3.5"
entrypoints==0.3; python_version >= "3.7"
es-pandas==0.0.21
flask-appbuilder==3.3.1; python_version >= "3.6" and python_version < "4.0"
flask-babel==1.0.0; python_version >= "3.6" and python_version < "4.0"
flask-caching==1.10.1; python_version >= "3.6" and python_version < "4.0"
flask-jwt-extended==3.25.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
flask-login==0.4.1; python_version >= "3.6" and python_version < "4.0"
flask-openid==1.2.5; python_version >= "3.6" and python_version < "4.0"
flask-sqlalchemy==2.5.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
flask-wtf==0.14.3; python_version >= "3.6" and python_version < "4.0"
flask==1.1.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
flatbuffers==1.12
flower==0.9.4; python_version >= "3.6" and python_version < "4.0"
ftfy==6.0.3; python_version >= "3.6"
gast==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
gensim==4.0.1; python_version >= "3.6"
gitdb==4.0.7; python_version >= "3.6"
gitpython==3.1.18; python_version >= "3.6"
glob2==0.7; python_version >= "3.6"
google-auth-oauthlib==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
google-auth==1.33.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
google-pasta==0.2.0
graphviz==0.17; python_version >= "3.6" and python_version < "4.0"
great-expectations==0.13.23
grpcio==1.34.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6" and python_version < "4.0"
h2==3.2.0; python_full_version >= "3.5.4" and python_version >= "3.6"
h5py==3.1.0; python_version >= "3.6"
hpack==3.0.0; python_version >= "3.6"
httpcore==0.13.6; python_version >= "3.6" and python_version < "4.0"
httpx==0.18.2; python_version >= "3.6" and python_version < "4.0"
humanize==0.5.1; python_version >= "3.6" and python_version < "4.0"
hvac==0.11.0; python_version >= "2.7"
hyperframe==5.2.0; python_version >= "3.6"
hyperlink==21.0.0; python_full_version >= "3.5.4" and python_version >= "3.6"
idna==3.2; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "4.0"
importlib-metadata==4.6.1; python_version >= "3.6" and python_version < "3.9"
importlib-resources==1.5.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
incremental==21.3.0; python_full_version >= "3.5.4" and python_version >= "3.6"
inflection==0.5.1; python_version >= "3.6" and python_version < "4.0"
iniconfig==1.1.1; python_version >= "3.6"
ipykernel==6.0.3; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.25.0; python_version >= "3.7"
ipywidgets==7.6.3
iso8601==0.1.16; python_version >= "3.6" and python_version < "4.0"
isodate==0.6.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
isort==5.9.2; python_full_version >= "3.6.1" and python_version < "4.0" and python_version >= "3.6"
itemadapter==0.3.0; python_version >= "3.6"
itemloaders==1.0.4; python_version >= "3.6"
itsdangerous==1.1.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
jedi==0.18.0; python_version >= "3.7"
jinja2==2.11.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
joblib==1.0.1; python_version >= "3.6"
jq==1.1.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
json5==0.9.6; python_version >= "3.6"
jsonpatch==1.32; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jsonpointer==2.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jsonschema==3.2.0; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0")
jupyter-client==6.2.0; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-core==4.7.1; python_full_version >= "3.6.1" and python_version >= "3.7"
jupyter-server==1.10.0; python_version >= "3.6"
jupyterlab-pygments==0.1.2; python_version >= "3.7"
jupyterlab-server==2.6.1; python_version >= "3.6"
jupyterlab-widgets==1.0.0; python_version >= "3.6"
jupyterlab==3.0.16; python_version >= "3.6"
keras-nightly==2.5.0.dev2021032900
keras-preprocessing==1.1.2
kiwisolver==1.3.1; python_version >= "3.7"
kombu==4.6.11; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
lazy-object-proxy==1.6.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
lockfile==0.12.2; python_version >= "3.6" and python_version < "4.0"
lxml==4.6.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
mako==1.1.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.4.0" and python_version >= "3.6" and python_version < "4.0"
markdown==3.3.4; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6")
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
marshmallow-enum==1.5.1; python_version >= "3.6" and python_version < "4.0"
marshmallow-oneofschema==3.0.1; python_version >= "3.6" and python_version < "4.0"
marshmallow-sqlalchemy==0.23.1; python_version >= "3.6" and python_version < "4.0"
marshmallow==3.13.0; python_version >= "3.6" and python_version < "4.0"
matplotlib-inline==0.1.2; python_version >= "3.7"
matplotlib==3.4.2; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6" and python_version < "4.0"
minio==7.1.0
mistune==0.8.4; python_version >= "3.7"
mlflow==1.19.0; python_version >= "3.6"
murmurhash==1.0.5; python_version >= "3.6"
nbclassic==0.3.1; python_version >= "3.6"
nbclient==0.5.3; python_full_version >= "3.6.1" and python_version >= "3.7"
nbconvert==6.1.0; python_version >= "3.7"
nbformat==5.1.3; python_full_version >= "3.6.1" and python_version >= "3.7"
nest-asyncio==1.5.1; python_full_version >= "3.6.1" and python_version >= "3.7"
notebook==6.4.0; python_version >= "3.6"
numpy==1.19.5
oauthlib==3.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
openapi-schema-validator==0.1.5; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
openapi-spec-validator==0.3.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
opt-einsum==3.3.0; python_version >= "3.5"
packaging==21.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pandas==1.3.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.7.1"
pandocfilters==1.4.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
parse-type==0.5.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
parse==1.19.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
parsel==1.6.0; python_version >= "3.6"
parso==0.8.2; python_version >= "3.7"
pathy==0.6.0; python_version >= "3.6"
patsy==0.5.1; python_version >= "3.6"
pendulum==2.1.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==8.3.1; python_version >= "3.7"
plotly==5.1.0; python_version >= "3.6"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
preshed==3.0.5; python_version >= "3.6"
priority==1.3.0; python_full_version >= "3.5.4" and python_version >= "3.6"
prison==0.1.3; python_version >= "3.6" and python_version < "4.0"
progressbar2==3.53.1
prometheus-client==0.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prometheus-flask-exporter==0.18.2; python_version >= "3.6"
prompt-toolkit==3.0.19; python_full_version >= "3.6.1" and python_version >= "3.7"
protego==0.1.16; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
protobuf==3.17.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
psutil==5.8.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7" and os_name != "nt"
py-singleton==1.0.0
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or python_full_version >= "3.4.0" and python_version >= "3.6" and implementation_name == "pypy"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6"
pydispatcher==2.0.5; platform_python_implementation == "CPython" and python_version >= "3.6"
pygments==2.9.0; python_version >= "3.7" and python_version < "4.0"
pyjwt==1.7.1; python_version >= "3.6" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6")
pylint==2.9.5; python_version >= "3.6" and python_version < "4.0"
pyopenssl==20.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pypydispatcher==2.1.2; platform_python_implementation == "PyPy" and python_version >= "3.6"
pyrsistent==0.18.0; python_version >= "3.6" and python_version < "4.0"
pytest-bdd==4.1.0; python_version >= "3.6"
pytest-cov==2.12.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-html==3.1.1; python_version >= "3.6"
pytest-metadata==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pytest-mock==3.6.1; python_version >= "3.6"
pytest==6.2.4; python_version >= "3.6"
python-daemon==2.3.0; python_version >= "3.6" and python_version < "4.0"
python-dateutil==2.8.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.7.1" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7") and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0")
python-dotenv==0.18.0
python-editor==1.0.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
python-levenshtein==0.12.2
python-nvd3==0.15.0; python_version >= "3.6" and python_version < "4.0"
python-openid==2.2.5; python_version >= "3.6" and python_version < "4.0"
python-slugify==4.0.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
python-utils==2.5.6
python3-openid==3.2.0; python_version >= "3.6" and python_version < "4.0"
pytz==2021.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.7.1" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
pytzdata==2020.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
pywin32==227; sys_platform == "win32" and python_version >= "3.6"
pywinpty==1.1.3; os_name == "nt" and python_version >= "3.6"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
pyzmq==22.1.0; python_full_version >= "3.6.1" and python_version >= "3.6"
querystring-parser==1.2.4; python_version >= "3.6"
queuelib==1.6.1; python_version >= "3.6"
rdflib==6.0.0; python_version >= "3.7"
requests-oauthlib==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
requests-unixsocket==0.2.0; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.6" and python_version < "4.0"
rich==10.6.0; python_version >= "3.6" and python_version < "4.0"
rsa==4.7.2; python_version >= "3.5" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.5"
ruamel.yaml==0.17.10; python_version >= "3"
s3transfer==0.5.0; python_version >= "3.6"
scikit-learn==0.24.2; python_version >= "3.6"
scipy==1.6.1; python_version >= "3.7"
scrapy-splash==0.7.2
scrapy==2.5.0; python_version >= "3.6"
send2trash==1.7.1; python_version >= "3.6"
service-identity==21.1.0; python_version >= "3.6"
setproctitle==1.2.2; python_version >= "3.6" and python_version < "4.0"
six==1.15.0; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
smart-open==5.1.0; python_version >= "3.6"
smmap==4.0.0; python_version >= "3.6"
sniffio==1.2.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.2"
spacy-legacy==3.0.8; python_version >= "3.6"
spacy==3.1.1; python_version >= "3.6"
sparqlwrapper==1.8.5
sqlalchemy-jsonfield==1.0.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
sqlalchemy-utils==0.37.8; python_version >= "3.6" and python_version < "4.0"
sqlalchemy==1.3.24; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0")
sqlparse==0.4.1; python_version >= "3.6"
srsly==2.4.1; python_version >= "3.6"
statsmodels==0.12.2; python_version >= "3.6"
swagger-ui-bundle==0.0.8; python_version >= "3.6" and python_version < "4.0"
tabulate==0.8.9
tenacity==6.2.0; python_version >= "3.6" and python_version < "4.0"
tensorboard-data-server==0.6.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.6"
tensorboard-plugin-wit==1.8.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
tensorboard==2.5.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow==2.5.0
termcolor==1.1.0; python_version >= "3.6" and python_version < "4.0"
terminado==0.10.1; python_version >= "3.6"
testpath==0.5.0; python_version >= "3.7"
text-unidecode==1.3; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
thinc==8.0.8; python_version >= "3.6"
threadpoolctl==2.2.0; python_version >= "3.6"
tika==1.24
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.6" and python_version < "4.0"
toolz==0.11.1; python_version >= "3.6"
tornado==6.1; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
tqdm==4.61.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.0.5; python_full_version >= "3.6.1" and python_version >= "3.7"
twisted-iocpsupport==1.0.1; python_full_version >= "3.5.4" and python_version >= "3.6" and platform_system == "Windows"
twisted==21.2.0; python_full_version >= "3.5.4" and python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==3.7.4.3; python_full_version >= "3.6.1" and python_version >= "3.6"
tzlocal==2.1
unicodecsv==0.14.1; python_version >= "3.6" and python_version < "4.0"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
vine==1.3.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
w3lib==1.22.0; python_version >= "3.6"
waitress==2.0.0; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.0"
wasabi==0.8.2; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
websocket-client==1.1.0; python_version >= "3.6"
werkzeug==1.0.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1; python_version >= "3.6" and python_version < "4.0"
wtforms==2.3.3; python_version >= "3.6" and python_version < "4.0"
zipp==3.5.0; python_version >= "3.6" and python_version < "3.9"
zope.interface==5.4.0; python_full_version >= "3.5.4" and python_version >= "3.6"
