# Automatically created by: scrapy_crawlers startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrapy_crawlers.settings

[deploy]
project = scrapy_crawlers
