# This is a  workflow that will run the unit tests and upload to Codecov

name: unit tests

# Controls when the action will run. Triggers of this workflow are on push on a feature branches or pull request
# on feature branches created from master
on:
  push:
    branches: [ feature/* ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    name: pyTest
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Check out
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        make install
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1
      with:
        envkey_VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
        envkey_VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
    - name: Run unit tests
      run: make test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.xml
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true